---
layout: handbook-page-toc
title: Application types
extra_css:
  - "maturity.css"
extra_js:
  - "libs/moment.min.js"
  - "maturity.js"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

Application types represent different types of projects that people and companies create
and manage on GitLab. Gitlab delivers and replaces the disparate DevOps
toolchain for both static content and traditional web applications. These are
two examples of application types. We're actively investing in more robust support for
new types such as cloud native and mobile apps, but we aren't done there.
GitLab will expand to enable collaboration on new types.

Much like our [product categories](/direction/maturity/), not
all application types are at the same level of maturity, which spans from being planned,
to minimal, and ultimately to lovable. See [below](#application-type-maturity) for where
each application type currently stands and when they will reach higher maturity levels.

## Application types

<% data.application_types.each do |apptypeKey, apptype| %>
  <% l = [] %>
  <% l << "Product lead: [#{apptype.pm}]" if apptype.pm %>
  <% l << "[Learn more](#{apptype.marketing_page})" if apptype.marketing_page %>
  <% l << "[Documentation](#{apptype.documentation})" if apptype.documentation %>
  <% l << "[Vision](#{apptype.vision})" if apptype.vision %>
##### <%= apptype.name %>
<% maturity = "This application type is planned, but not yet available." %>
<% if apptype.maturity && (apptype.maturity != "planned") %>
  <% maturity = "This application type is at the \"#{apptype.maturity}\" level of maturity." %>
<% end %>
<%= apptype.description + " " + maturity + "  " unless apptype.description.blank? %>
<%= maturity + "  " if apptype.description.blank? %>
<%= l.join(' • ') unless l.empty? %>

<% end %>

## Application type maturity

Not all application types are at the same level of maturity. Some are just minimal while some are lovable. See the [application type maturity page](/direction/maturity#application-type-maturity) to see where each category stands.

## Changes

Changes to application type maturity are effected in the
[application_types.yml](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/application_types.yml)
file. Changes that impact our stated maturity goals should be approved by the VP
of Product.

[Mark Pundsack]: /company/team/#MarkPundsack
[Kenny Johnston]: /company/team/#kencjohnston
[Kenny Johnston (Interim)]: /company/team/#kencjohnston
[Kenny Johnston (Life Support)]: /handbook/product/#life-support-pm-expectations
[Eric Brinkman]: /company/team/#ericbrinkman
[Eric Brinkman (Interim)]: /company/team/#ericbrinkman
[Jeremy Watson]: /company/team/#d3arWatson
[Joshua Lambert]: /company/team/#joshlambert
[Joshua Lambert (Interim)]: : /company/team/#joshlambert
[James Ramsay]: /company/team/#jamesramsay
[Daniel Gruesso]: /company/team/#danielgruesso
[Viktor Nagy]: /company/team/#vnagy
[Jason Yavorska]: /company/team/#jyavorska
[Jason Yavorska (Interim)]: /company/team/#jyavorska
[Brendan O'Leary]: /company/team/#olearycrew
[Brendan O'Leary (Interim)]: /company/team/#olearycrew
[Luca Williams]: /company/team/#tipyn2903
[Tim Rizzi]: /company/team/#timrizzi
[Sarah Waldner]: /company/#sarahwaldner
[Kai Armstrong]: /company/#kai-armstrong
